
.menu_item_title_style{
	font-family: 'ML1TTAmbiliNormal';
	font-size:16px;
	text-align: left;
	color:#FFFFFF;
	font-style:normal;
	font-weight:bold;
	text-transform: none;
	text-decoration:none;}
 
 .menu_item_style{
	font-family: 'ML1TTAmbiliNormal';
	font-size:17px;
	text-align: left;
	color:#FFFFFF;
	font-style:normal;
	font-weight:normal;
	text-transform: uppercase;
	text-decoration:none;}
 
 .menu_item_rate_style{
	font-family: 'ML1TTAmbiliNormal';
	font-size:17px;
	text-align: right;
	color:#FFFFFF;
	font-style:normal;
	font-weight:normal;
	text-transform: none;
	text-decoration:none;
	}
#content_body_inner{
	width:100%;
	height:auto;
	float:left;
	height:auto;
	background-image:url(../images/body_bg.jpg);
	background-repeat:repeat;
	background-color:#ece8e5;}
 
 #content_portion_container_inner{
	width:980px;
	padding-top:20px;
	height:auto;
	padding-bottom: 20px;}
 
 #inner_left_portion{
	width:70%;
	float:left;
	height:auto;
	margin-right: 4%;
	padding-left: 3%;}
 
  #inner_right_portion{
	width:22%;
	float:left;
	height:auto;}
	
	
	/**** gallery ****/
	#gallery_portion{
	width:100%;
	height:auto;
	margin-bottom:25px;}
	
	#gallery_box{
	width:170px;
	float:left;
	height:128px;
	padding:3px;
	margin:10px;
	box-shadow: 0px 0px 2px #000;}
	/**** gallery ****/
	
	
	
	/**** menupage ****/
	#inner_menupage_left_portion{
	width:26%;
	float:left;
	height:auto;}
	
	#menu_btn_container{
	width:200px;
	padding-left:25px;
	padding-right:20px;
	height:auto;
	float:left;
	margin-bottom: 15px;}
	
	
	
	#menupage_list_container{
	width:250px;
	height:auto;
	float:left;
	background-image:url(../images/menu_list_bg2.jpg);
	background-position:center top;
	background-repeat: repeat-y;
	background-color:#950d0b;
	position: relative;
	-moz-border-radius:15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;}
	
	#inner_menupage_right_portion{
	width:70%;
	margin-left:3%;
	float:left;
	height:auto;}
	
	#menupage_shadow_container{
	width:95%;
	padding-left:2.5%;
	padding-right:2.5%;
	float:left;
	height:auto;
	background-image:url(../images/menupage_shadow.png);
	background-position:center top;
	background-repeat:no-repeat;
	margin-bottom:20px;}
	
	#menupage_pattern_container{
	width:95%;
	padding:2.5%;
	float:left;
	height:auto;
	background-image:url(../images/clayhut-bg.jpg);
	background-position:left top;
	background-repeat:repeat;
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;}
	
	#menupage_content_portion{
	height:auto;
	border: 2px solid #bf9c6f;
	width:95%;
	float:left;
	background-color: #826753;
	padding: 2.5%;
	background-image: url(../images/clayhut-bg.jpg);
	background-repeat: repeat;}
	
	#menu_section_container{
	height:auto;
	width:95%;
	float:left;
	padding: 1.7%;
	margin-bottom:10px;
}
	
	#menu_item_title_container{
	height:auto;
	width:auto;
	float:left;
	margin-bottom:15px;
	padding: 5px 20px;
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	background-color:#948174;
}
	
	#menu_item_content_container{
	height:auto;
	width:100%;
	float:left;
	margin-bottom:10px;
	border-bottom: 1px dashed #a68151;}
	
	#menu_item_container_chilli0{
	height:20px;
	width:60%;
	margin-right:5%;
	float:left;
	vertical-align:middle;
	background-image: url(../images/chilly000.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 7%;}
	
	
	#menu_item_container_chilli1{
	height:20px;
	width:60%;
	margin-right:5%;
	float:left;
	vertical-align:middle;
	background-image: url(../images/chilly001.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 7%;}
	
	#menu_item_container_chilli2{
	height:20px;
	width:60%;
	margin-right:5%;
	float:left;
	vertical-align:middle;
	background-image: url(../images/chilly002.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 7%;}
	
	#menu_item_rate_container{
	height:auto;
	width:30%;
	float:right;
	vertical-align:middle;}
	
	#high_ovel_container{
	width:75%;
	height:auto;
	float:left;
	background-color: #AC3902;
	margin-left:10%;
	padding: 3%;
	background-repeat:repeat;
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	margin-bottom: 5%;
}
 
	/**** menupage ****/
	
	
	
	/**** testimonialpage ****/
	#testimonial_main_container{
	width:80%;
	height:auto;}
	
	#testimonial_page_pattern_container{
	width:97%;
	padding:1.5%;
	float:left;
	height:auto;
	background-position:left top;
	background-repeat:repeat;
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	margin-bottom:20px;
	background-color: #C6A67F;
}
	
	#testimonialpage_content_portion{
	height:auto;
	border: 2px solid #bf9c6f;
	width:95%;
	float:left;
	background-color: #dfc69f;
	padding: 2.5%;
	background-repeat: repeat;
}
	
	#testimonial_number_container{
	width:10%;
	float:left;
	height:auto;
	background-image:url(../images/testimonial_no_pattern.jpg);
	background-position:left bottom;
	background-repeat: repeat-x;
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	margin-right:3%;
	font-family: 'ML1TTAmbiliNormal';
	font-size:25px;
	text-align: center;
	color:#DFAF89;
	font-style:normal;
	font-weight:normal;
	text-transform: none;
	text-decoration:none;
	padding-top: 4%;
	padding-bottom: 5%;
	background-color: #831C20;
}
	
	#testimonial_contents_container{
	width:87%;
	float:left;
	height:auto;
}
	
	/**** testimonialpage ****/
	
	#inner_enquiry_portion{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
	
	#field_section_container{
		height:auto;
		width:100%;
		float:left;
		margin-bottom:5px;}
	
	#field_text_container{
	width:35%;
	height:35px;
	float:left;
}
	
	#field_box_container{
	width:50%;
	height:35px;
	float:left;
}

/***********************************************************************************************/


#links_container_f{
	width:600px; 
	height:42;
	display:block;
	margin:auto;
	position:relative;}
	

#links_container_form{
	width:100%;
	height:42px;
	z-index:50;
	display:block;
	position:relative;
	margin:auto;
	float:left;	
	background:url(../images/links_bg.jpg) left top repeat-x;
	margin-top:-7px;}

.pop_up_field1{
	width:75%;
	height:25px;
	padding:1%;
	border:1px solid #dddcdc;
	font-size:13px;
	color:#727070;
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	font-family: arial;
	margin-bottom:5px;}
	
	.pop_up_field2{
	width:90%;
	height:60px;
	padding:1%;
	border:1px solid #dddcdc;
	font-size:13px;
	color:#727070;
	-moz-border-radius:8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	font-family: arial;
	margin-bottom:5px;}